<div class="modal fade" id="addModalShow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
        <h4 class="modal-title" id="exampleModalLabel">New Site</h4>
      </div>
      <div class="modal-body">


<%= form_for(@bookmark, remote: true) do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />
  <%= f.label :url %>
  <%= f.text_field :url %><br />
  <%= f.submit class: "btn btn-primary" %>
<% end %>




</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>